
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "iDroid";
    src: url(../fontes/idroid.otf) format('opentype');
}

* {
    letter-spacing: 0.1em;
    line-height: 1.2em;
}

.palavras-destacadas {
    color: #063d1e;
}

.inicio-paragrafo {
    text-indent: 30px;
}

body {
    background-color: #e1d0837c;
    margin: 0px;
} 

header {
    font-family: "Bebas Neue", cursive;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    padding: 30px;
    min-width: 400px;
    max-width: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}

header > h1 {
    font-size: 36px;
}

nav {
    background-color: #063d1e;
    padding: 5px;
    min-width: 450px;
    max-width: 100%;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #c5ebd6;
    text-decoration: none;
    padding: 5px;
}

nav > a:hover {
    color: #063d1e;
    background-color: #2fa866;
    border-radius: 5px;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    min-width: 400px;
    max-width: 800px;
    padding: 10px 15px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
    text-align: justify;
}

.links {
    background-image: linear-gradient(to right, #83e1ad, #c5ebd6);
    color: #063d1e;
    text-decoration: none;
}

#link {
    color: #063d1e;
    text-decoration: none;
}

div.fotos-dan-irina {
    text-align: center;
}

div#bugdroid {
    text-align: center;
}


main > article > h1 {
    font-family: "iDroid", sans-serif;
    margin: 0px;
    color: #063d1e;
} 

main > article > h2 {
    font-family: "iDroid", sans-serif;
    color: #063d1eb6;
    font-size: 18px;
    background-image: linear-gradient(to right, #83e1ad, #c5ebd6, #c5ebc554);
}

main > article > div#video {
    background-color: #063d1e;
    text-align: center;
    padding: 20px 20px 15px 20px;
    margin: 10px -15px 10px -15px;
}

main > article > div#video > iframe {
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

main > article > aside {
    background-image: linear-gradient(to bottom, #1a5c37 8%, #83e1ad 8% 100%);
    border-radius: 10px;
}

main > article > aside > h4 {
    color: #fff;
    padding: 5px 0px 0px 5px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: #063d1e;
    color: #fff;
    margin-top: 20px;
    min-width: 400px;
    max-width: 100%;
}