@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

body, html {
    max-width: 800px;
    margin: auto; /* Centraliza o conteúdo horizontalmente */
    color: white;
    background-color: black;
}

/* Esconde a barra de rolagem nos navegadores baseados em Webkit (Chrome, Safari) */
.body, html::-webkit-scrollbar {
    width: 0; /* Define a largura da barra de rolagem como 0 */
    height: 0; /* Define a altura da barra de rolagem como 0 */
}

header {
    color: white;
    background-color: #45afd3;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

main {
    background: url(../imagens/people.jpg) no-repeat;
    background-size: cover;
    height: 550px;
}

section {
    float: right; /* Flutua o elemento para a direita */
    margin: 20px;
    width: 250px;
    height: 430px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

div.formulario {
    text-align: justify;
    padding: 20px;
}

div.formulario h2 {
    margin-bottom: 15px;
}

div.formulario p {
    margin-bottom: 15px;
}

input, select {
    box-sizing: border-box; /* Inclui o padding e a borda na largura e altura totais do elemento */
    padding: 5px;
    width: 100%;
    border: none;
}

#inCidade {
    box-sizing: border-box; /* Inclui o padding e a border na largura e altura totais do elemento */
    padding: 5px;
    width: 100%; /* Define a largura do elemento para 100% da largura do elemento pai */
    border: none;
    appearance: none; /* Remove a aparência padrão do navegador para o elemento */
    -moz-appearance: none; /* Remove a aparência padrão do Firefox */
    -webkit-appearance: none; /* Remove a aparência padrão dos navegadores baseados no WebKit (Chrome, Safari) */
    background: url(../imagens/arrow.jpg) no-repeat right center white; /* Define a imagem de fundo com a seta, não repete a imagem, posiciona à direita e centraliza verticalmente, e define o fundo branco */
}

#button-submit {
    color: white;
    background-color: #45afd3;
    border: none;
    padding: 10px;
}

footer {
    display: inline-block;
    text-align: center;
    padding: 40px;
    background-color: rgb(56, 56, 56);
}

footer > img {
    width: 160px;
}

div.texto {
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
}

.mb {
    margin-bottom: 10px;
}

/* Define um media query para telas com largura máxima de 600px */
@media screen and (max-width: 600px){
    main {
        position: relative;
    } 

    section {
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
    }    
}