@charset "UTF-8";
@font-face {
  font-family: "Outfit";
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype);
  font-weight: 100 900;
}
@font-face {
  font-family: "Young Serif";
  src: url(../fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
  font-weight: 400;
}

/* 
- White: hsl(0, 0%, 100%)

- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)

- Rose 800: hsl(332, 51%, 32%)
*/

:root {
  --font-family-main: "Outfit";
  --font-family-tittles: "Young Serif", sans-serif;
  --font-h1-color: hsl(24, 5%, 18%);
  --font-main-color: hsl(30, 18%, 34%);
  --background-body: hsl(30, 54%, 90%);
  --background-main-footer: hsl(0, 0%, 100%);
  --background-preparation: hsl(330, 100%, 98%);
  --color-titles-li-numbers: hsl(14, 45%, 36%);
  --color-preparation-li-a: hsl(332, 51%, 32%);
}

body,
html {
  color: var(--font-main-color);
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 1em;
  text-align: justify;
  line-height: 1.3em;
  margin: auto;
  max-width: 375px;
  background-color: var(--background-body);
}

header img {
  display: flex;
  width: 100%;
}

main {
  padding: 20px;
  background-color: var(--background-main-footer);
}

h1 {
  color: var(--font-h1-color);
}

#preparation {
  background-color: var(--background-preparation);
  padding: 10px;
  border-radius: 10px;
}

#preparation p {
  color: var(--color-preparation-li-a);
}

.tittles {
  font-family: var(--font-family-tittles);
}

.tittles-numbers {
  color: var(--color-titles-li-numbers);
}

ul,
ol {
  padding-left: 20px;
}

li {
  padding-left: 20px;
  margin-bottom: 15px;
}

li::marker {
  font-size: smaller;
  color: var(--color-titles-li-numbers);
}

.li-highlight::marker {
  /* não conhecia essa pseudo-classe */
  color: var(--color-preparation-li-a);
}

ol li::marker {
  color: var(--color-titles-li-numbers);
  font-size: medium;
  font-weight: bolder;
}

section li {
  margin-bottom: 10px;
}

ul.macros {
  margin-bottom: 0px;
  list-style-type: none;
  columns: 2;
}

.macros-hr {
  margin: 0px;
}

footer {
  text-align: center;
  font-size: 10px;
  background-color: var(--background-main-footer);
}

a {
  color: var(--color-preparation-li-a);
  text-decoration: none;
}
