@charset "UTF-8"; 

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    color: white;
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;  /* necessário para o funcionamento do position da section login */
    height: 100vh; /* necessário para o funcionamento do position da section login */
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* relaçao com a borda da imagem quando em versão mobile E na exibição da section em outras versões*/
    width: 250px;
    height: 515px;
    border-radius: 25px;
    background-color: rgb(31, 31, 31);
}

div#imagem {
    display: block;
    height: 200px;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin: 10px 0px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
    margin: 10px 5px;
}

.material-symbols-outlined {
    font-size: 2em;
    margin-right: 5px;
}

.estiloLogin {
    display: block;
    width: 100%;
    height: 40px;
    /* justify-content: center;
    align-items: center; */
    margin: 5px 0px;
    background-color: #5f2c82;
    border: 2px solid #b387cf7c;
    border-radius: 10px;
}

/* label { display: none; } */

.corFundoForm {
    background-color: #49a09d;
    width: calc(100% - 45px); /* mantém a largura do campo input quando a página aumenta horizontalmente */
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px); /* centraliza o campo de input dentro do block roxo */
}

input::placeholder {
    color: rgba(245, 245, 245, 0.75);
}

#botaoEntrar {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: rgba(255, 255, 255, 0.800);
    background-color: #49a09d;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}

#botaoEntrar:hover {
    background-color: #275755;
}

#botaoEsqueciSenha {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    color: #49a09d;
    background-color: rgba(31,31,31);
    border: 1px solid #49a09d;
    border-radius: 7px;
    cursor: pointer;
}

#botaoEsqueciSenha > span {
    font-size: 1em;
    vertical-align: middle;
}

#botaoEsqueciSenha:hover {
    color: #275755;
    background-color: #49a09d;
}