@charset "UTF-8"; 

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    color: white;
    background-color: #5f2c82;
}

main {
    position: relative;
    width: 100vw;  /* necessário para o funcionamento do position da section login */
    height: 100vh; /* necessário para o funcionamento do position da section login */
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    text-align: center;    
}

/* div#imagem {
    height: 200px;
    background-image: url(../imagens/metal.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

/* .material-symbols-outlined {
    font-size: 35px;
} */

.estiloLogin {
    margin: 5px;
    padding: 10px;
    background-color: #5f2c82;
}

.corFundoForm {
    background-color: #49a09d;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


#botaoEntrar {
    color: rgba(255, 255, 255, 0.800);
    background-color: #49a09d;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#botaoEntrar:hover {
    background-color: #275755;
}

#botaoEsqueciSenha {
    color: #49a09d;
    background-color: rgba(75, 75, 75, 0.5);
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#botaoEsqueciSenha:hover {
    color: #275755;
    background-color: #49a09d;
}